<?if($URI_ID$='puCat1')?>
<h1 class="maintitle">Szkriptek minden mennyiségben!</h1>
<p>Oldalunkon számos szkriptet és egyéni megoldást találhatsz, melynek segítségével könnyedén felturbózhatod weboldalad új, remek funkciókkal! A leírás emészthető, könnyen érthető, így a legnagyobb egyszerűséggel állíthatod be bármelyik szkriptet a weboldaladra!</p>
<?endif?>

<?if($URI_ID$='puCat2')?>
<h1 class="maintitle">Egyedi uCoz sablonok</h1>
<p>Sablonok nagy választékát tárjuk elétek, a sablonok telepítése pedig pofonegyszerű. Az archívumok az alapfájlokat tartalmazzák, melyek révén könnyű a telepítés.</p>
<?endif?>

<?if($URI_ID$='puCat3')?>
<h1 class="maintitle">Grafikák weboldaladra</h1>
<p>$CAT_DESCR$</p>
<?endif?>

<?if($URI_ID$='puCat4')?>
<h1 class="maintitle">Segédletek, tippek, trükkök</h1>
<p>Böngészd ki a uCoz rendszer összes fortélyát, és légy te a rendszer ura! Segédleteink között úgy a rendszerről, mint a keresőoptimalizálásról (SEO) is írunk.</p>
<?endif?>

<?if($URI_ID$='puCat5')?>
<h1 class="maintitle">Mutasd be weboldalad!</h1>
<p>Szeretnéd itt látni a weboldalad? Küldj egy e-mailt az <b><a href="mailto:info@ucoztaska.net">info@ucoztaska.net</a></b> címre, melyben 15-20 sorban leírod, miről szól a weboldalad, hogyan léptél be a webszerkesztésbe - összefoglalva mesélheted el a weboldalad történetét.</p>
<?endif?>

<?if($URI_ID$='puCat6')?>
<h1 class="maintitle">Hírek a uCoz Táska fedélzetéről</h1>
<p>Fejlesztési hírek, valamint egyéb dolgok, melyek a uCoz Táskát illetik.</p>
<?endif?>

<?if($URI_ID$='puCat7')?>
<h1 class="maintitle">Tech hírek + miegymás</h1>
<p>Hírek a technológia világából, valamint minden más olyan dolog, amiről fontos szót ejteni.</p>
<?endif?>

<hr />
