<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>$SITE_NAME$ - $MODULE_NAME$</title>
  <meta name="description" content="Szkriptek, sablonok, grafikák, segédletek uCoz rendszerű honlapokhoz. Hirdesd weboldalad, tölts le bővítményeket, sablonokat, grafikákat ingyen!">
  <meta name="keywords" content="uCoz,Táska,uCoz Táska,szkriptek,sablonok,grafikák,segédletek,tutorialok,közösség,hirdetés">
  <meta property="og:title" content="uCoz Táska - uCoz szkriptek, grafikák, sablonok">
  <meta property="og:site_name" content="uCoz Táska">
  <meta property="og:description" content="Szkriptek, sablonok, grafikák, segédletek uCoz rendszerű honlapokhoz. Hirdesd weboldalad, tölts le bővítményeket, sablonokat, grafikákat ingyen!">
  <meta property="og:url" content="http://ucoztaska.hu$REQUEST_URI$">
  <meta property="og:image" content="http://ucoztaska.hu/assets/images/main_entry.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple/apple-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple/apple-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple/apple-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple/apple-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple/apple-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple/apple-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple/apple-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple/apple-152x152.png">
  <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
  <meta name="DC.coverage" content="Hungary" />
  <meta name="DC.description" content="Ingyenes szkriptek, grafikák, sablonok, segédletek uCoz rendszerhez" />
  <meta name="DC.format" content="text/html" />
  <meta name="DC.identifier" content="http://ucoztaska.hu" />
  <meta name="DC.publisher" content="uCoz Táska" />
  <meta name="DC.title" content="uCoz Táska - uCoz erőforrások és segédletek" />
  <meta name="DC.type" content="Text" />
  <meta property="fb:admins" content="100004345171968" />
  <link type="text/css" rel="stylesheet" href="/_st/my.css" />
  <link rel="alternate" type="application/rss+xml" title="uCoz Táska - uCoz erőforrások ingyen" href="http://ucoztaska.hu/anyagok/rss">
</head>
<body>
  $ADMIN_BAR$
  $GLOBAL_AHEADER$

  <section class="first">
    <div class="overlay"></div>
    <div class="promo">
      <h2>Az út egy 20%-kal menőbb weboldalhoz.</h2>
      <a href="javascript://" class="goto" id="learn">Tudj meg többet</a>
    </div>
  </section>

  <section class="showcase sh1" id="best-resources">
    <div class="mid">
      <h2>A legjobb erőforrások egy helyen</h2>
      <hr />
      <p>A uCoz Táska egy helyre gyűjti mindazon erőforrásokat, amelyek egy menő uCoz-os honlaphoz szükségesek. Szkriptek, sablonok, grafikai kiegészítések — ha ilyet keresel, a uCoz Táskán megkapod!</p> 
    </div>
  </section>

  <section class="showcase sh2">
    <div class="left"><img src="/assets/images/showcase-1.png" alt="Szkriptek minden mennyiségben" /></div>
    <div class="right"><h2>Szkriptek minden mennyiségben</h2>
      <p>Turbózd fel az oldaladat a legjobb kiegészítőkkel. Igen, te. Mert a te weboldalad is megérdemli. Leírásaink jól követhetőek, de ha elakadnál, kérdezz, és segítünk. Pár szkript és a te webszájtodra is azt mondhatod, c'est magnifique!</p>
      <a href="/szkriptek/" rel="canonical">Ugrás a szkriptekhez</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh2 reversed">
    <div class="left"><img src="/assets/images/showcase-6.png" alt="uCoz sablonok" /></div>
    <div class="right"><h2>Sablon? Igenis, uram!</h2>
      <p>Meguntad a honlapod jelenlegi külalakját? Igen? Akkor a legjobb helyre jöttél - számos sablon, teljesen ingyen! Nem untad meg? Nem baj, attól még benézhetsz, hátha találsz valami érdekeset, mester.</p>
      <a href="/sablonok/" rel="canonical">Nézzük a szépséges sablonokat!</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh2">
    <div class="left"><img src="/assets/images/showcase-3.png" alt="Ikonok, grafika" /></div>
    <div class="right"><h2>IKONOK, GRAFIKA, ARRRH!</h2>
      <p>Egy kép többet mond 1000 szónál (legalábbis mi úgy hallottuk egy kedves ismerősünktől). Ez az ikonokra is igaz - sokkal szebbé teszik az oldalt, a látogató pedig még könnyebben megtalálja a cuccokat az oldalon. Látod azt a usermenüt ott fent? Az is ikon, és ugye, milyen szép?</p>
      <a href="/grafika/" rel="canonical">Grafikákat kérek!</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh2 reversed">
    <div class="left"><img src="/assets/images/showcase-4.png" alt="Segédletek" /></div>
    <div class="right"><h2>Írunk, ha kell, ha nem</h2>
      <p>Szeretünk írni, függetlenül attól, hogy van-e értelme az írásunknak vagy nincs. BTW, szeretünk uCoz-ról írni. Tutorialokat, útmutatókat, ezt-azt. Értitek, nem? Na szóval az úgy van, hogy mi érthetően magyarázzuk meg, hogyan lehet különféle dolgokat csinálni uCoz-on, jól követhető leírással, képekkel, sötöbö.</p>
      <a href="/segedletek/" rel="canonical">Többet akarok tudni!</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh2">
    <div class="left"><img src="/assets/images/showcase-5.png" alt="Promóció" /></div>
    <div class="right"><h2>INGYENREKLÁM!!</h2>
      <p>Igen, mutasd meg nekünk a weboldalad, és mi megmutatjuk a többieknek. Ingyen közzéteszünk egy cikket a weboldaladról, ha beküldöd nekünk egy cikknyi (létezik ez a szó?) szöveg kíséretében. Ha nem akarsz szöveget írni, akkor megpróbáljuk mi megírni, ha meg valami nem tetszik a szövegben, szólj, és mi átírjuk. Ennyi. </p>
      <a href="/weboldal/" rel="canonical">Ismerj meg pár weboldalt</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh2 reversed">
    <div class="left"><img src="/assets/images/showcase-7.png" alt="Kérdezz" /></div>
    <div class="right"><h2>Kérdések... so many kérdések...</h2>
      <p>Kérdezz bármit. BÁRMIT! uCoz, weboldalszerkesztés, HTML, CSS, tech, az élet értelme, JavaScript; amit csak akarsz. Megpróbálunk válaszolni rá, ha pedig nem tudunk, akkor megkérdezünk más embereket, így mi is okosabbak leszünk. Kérdezz bátran, nincs olyan kérdés, amire ne felelnénk!</p>
      <a href="/kerdesek/" rel="canonical">Tegyél fel egy kérdést!</a>
    </div>
    <div class="clr"></div>
  </section>

  <section class="showcase sh1">
    <div class="mid">
      <h2>Nincs még weboldalad?</h2>
      <hr />
      <p><a href="http://www.ucoz.hu" target="_blank">Hozz létre egyet ingyen!</a></p>
    </div>
  </section>

  $GLOBAL_BFOOTER$

  <script type="text/javascript">
    $(function() {
      var header = $("header");
      $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 100) {
          header.removeClass('mainpage');
        } else {
          header.addClass('mainpage');
        }
      });
    });
    
    $("#learn").click(function() {
      $('html, body').animate({
        scrollTop: $("#best-resources").offset().top
      }, 1000);
    });
  </script>  
</body>
</html>
