<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>$SITE_NAME$ - $MODULE_NAME$</title>
  <meta name="description" content="Szkriptek, sablonok, grafikák, segédletek uCoz rendszerű honlapokhoz. Hirdesd weboldalad, tölts le bővítményeket, sablonokat, grafikákat ingyen!">
  <meta name="keywords" content="uCoz,Táska,uCoz Táska,szkriptek,sablonok,grafikák,segédletek,tutorialok,közösség,hirdetés">
  <meta property="og:title" content="$MODULE_NAME$ - $SITE_NAME$">
  <meta property="og:site_name" content="uCoz Táska">
  <meta property="og:description" content="Szkriptek, sablonok, grafikák, segédletek uCoz rendszerű honlapokhoz. Hirdesd weboldalad, tölts le bővítményeket, sablonokat, grafikákat ingyen!">
  <meta property="og:url" content="http://ucoztaska.hu$REQUEST_URI$">
  <meta property="og:image" content="http://ucoztaska.hu/assets/images/main_entry.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple/apple-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple/apple-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple/apple-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple/apple-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple/apple-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple/apple-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple/apple-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple/apple-152x152.png">
  <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
  <meta name="DC.coverage" content="Hungary" />
  <meta name="DC.description" content="Ingyenes szkriptek, grafikák, sablonok, segédletek uCoz rendszerhez" />
  <meta name="DC.format" content="text/html" />
  <meta name="DC.identifier" content="http://ucoztaska.hu" />
  <meta name="DC.publisher" content="uCoz Táska" />
  <meta name="DC.title" content="uCoz Táska - uCoz erőforrások és segédletek" />
  <meta name="DC.type" content="Text" />
  <meta property="fb:admins" content="100004345171968" />
  <link type="text/css" rel="stylesheet" href="/_st/my.css" />
  <link rel="alternate" type="application/rss+xml" title="uCoz Táska - uCoz erőforrások ingyen" href="http://ucoztaska.hu/eroforrasok/rss">
</head>
<body>
  $ADMIN_BAR$
  $GLOBAL_AHEADER$
  <h2 class="maintitle page">$MODULE_NAME$</h2>
  <section class="content catpage mid">
    $CONTENT$
  </section>
  $GLOBAL_BFOOTER$
</body>
</html>
