<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>$SITE_NAME$ - $MODULE_NAME$</title>
  <link type="text/css" rel="stylesheet" href="/_st/my.css" />
</head>
<body>
  
  $GLOBAL_AHEADER$
  <h2 class="maintitle">Anyag feltöltése</h2>
  <section class="content catpage mid">
    <div class="add-info">A hozzáadott anyag nem sértheti meg <b><a href="/szabalyzat" target="_blank">a uCoz Táska szabályzatát</a></b>.</div>
    $BODY$
    $GLOBAL_ADDSETUP$
  </section>
  $GLOBAL_BFOOTER$
  
</body>
</html>
