<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>$SECTION_NAME$ - $MODULE_NAME$ - $SITE_NAME$</title>
  <link type="text/css" rel="stylesheet" href="/_st/my.css" />
</head>
<body>
  
  $ADMIN_BAR$
  $GLOBAL_AHEADER$
  <h2 class="maintitle">$SECTION_NAME$</h2>
  <?if($SECTION_NAME$='Keresés [Starlight Glimmer]' || $SECTION_NAME$='Keresés [Starlight glimmer]' || $SECTION_NAME$='Keresés [starlight glimmer]')?>
  <!-- Easter egg! -->
  <style type="text/css">
    header {background: #622489;}
    header .left a {color: #fff;}
    header .logo {background: url('/assets/images/starlight.png') no-repeat;background-size: auto 40px;background-position: center;}
    header nav ul li a {color: #fff;}
    header nav ul li a:hover {background: #802DAD;}
  </style>
  <?endif?>
  <section class="content catpage mid">
    <?if($SECTION_NAME$='Keresés [Starlight Glimmer]' || $SECTION_NAME$='Keresés [Starlight glimmer]' || $SECTION_NAME$='Keresés [starlight glimmer]')?><div align="center"><a href="http://davidsfire.deviantart.com/art/Starlight-Glimmer-mischievous-thinking-vector-601806164" target="_blank"><img src="/assets/images/starlight-vector.png" width="500" alt="Starlight Glimmer is watching you" /></a><br /> <br /><a href="http://davidsfire.deviantart.com/art/Starlight-Glimmer-mischievous-thinking-vector-601806164" target="_blank">Source</a></div><?else?>
    <?if($SECTION_NAME$='Keresés [Harlem Shake]' || $SECTION_NAME$='Keresés [Harlem shake]' || $SECTION_NAME$='Keresés [harlem shake]')?>
    <div id="allEntries">$MYINF_11$</div>
    <script type="text/javascript">
      javascript: (function() {
        function c() {
          var e = document.createElement("link");
          e.setAttribute("type", "text/css");
          e.setAttribute("rel", "stylesheet");
          e.setAttribute("href", f);
          e.setAttribute("class", l);
          document.body.appendChild(e)
        }
        
        function h() {
          var e = document.getElementsByClassName(l);
          for (var t = 0; t < e.length; t++) {
            document.body.removeChild(e[t])
          }
        }
        
        function p() {
          var e = document.createElement("div");
          e.setAttribute("class", a);
          document.body.appendChild(e);
          setTimeout(function() {
            document.body.removeChild(e)
          }, 100)
        }
        
        function d(e) {
          return {
            height: e.offsetHeight,
            width: e.offsetWidth
          }
        }
        
        function v(i) {
          var s = d(i);
          return s.height > e && s.height < n && s.width > t && s.width < r
        }
        
        function m(e) {
          var t = e;
          var n = 0;
          while (!!t) {
            n += t.offsetTop;
            t = t.offsetParent
          }
          return n
        }
        
        function g() {
          var e = document.documentElement;
          if (!!window.innerWidth) {
            return window.innerHeight
          } else if (e && !isNaN(e.clientHeight)) {
            return e.clientHeight
          }
          return 0
        }
        
        function y() {
          if (window.pageYOffset) {
            return window.pageYOffset
          }
          return Math.max(document.documentElement.scrollTop, document.body.scrollTop)
        }
        
        function E(e) {
          var t = m(e);
          return t >= w && t <= b + w
        }
        
        function S() {
          var e = document.createElement("audio");
          e.setAttribute("class", l);
          e.src = i;
          e.loop = false;
          e.addEventListener("canplay", function() {
            setTimeout(function() {
              x(k)
            }, 500);
            setTimeout(function() {
              N();
              p();
              for (var e = 0; e < O.length; e++) {
                T(O[e])
              }
            }, 15500)
          }, true);
          e.addEventListener("ended", function() {
            N();
            h()
          }, true);
          e.innerHTML = " <p>If you are reading this, it is because your browser does not support the audio element. We recommend that you get a new browser.</p> <p>";
            document.body.appendChild(e);
            e.play()
          }
          
          function x(e) {
            e.className += " " + s + " " + o
          }
          
          function T(e) {
            e.className += " " + s + " " + u[Math.floor(Math.random() * u.length)]
          }
          
          function N() {
            var e = document.getElementsByClassName(s);
            var t = new RegExp("\\b" + s + "\\b");
            for (var n = 0; n < e.length;) {
              e[n].className = e[n].className.replace(t, "")
            }
          }
          var e = 30;
          var t = 30;
          var n = 350;
          var r = 350;
          var i = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake.mp3";
          var s = "mw-harlem_shake_me";
          var o = "im_first";
          var u = ["im_drunk", "im_baked", "im_trippin", "im_blown"];
          var a = "mw-strobe_light";
          var f = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake-style.css";
          var l = "mw_added_css";
          var b = g();
          var w = y();
          var C = document.getElementsByTagName("*");
          var k = null;
          for (var L = 0; L < C.length; L++) {
            var A = C[L];
            if (v(A)) {
              if (E(A)) {
                k = A;
                break
              }
            }
          }
          if (A === null) {
            console.warn("Could not find a node of the right size. Please try a different page.");
            return
          }
          c();
          S();
          var O = [];
          for (var L = 0; L < C.length; L++) {
            var A = C[L];
            if (v(A)) {
              O.push(A)
            }
          }
        })();
      </script>
      <?else?>
      <div id="allEntries">$BODY$</div> <?if($PAGE_SELECTOR$)?><div class="page-selector">$PAGE_SELECTOR$</div><?endif?><?endif?><?endif?>
      <script type="text/javascript">
        $('div#allEntries > div').each(function(i) {
          if( i % 4 == 0 ) {
            $(this).nextAll().andSelf().slice(0,4).wrapAll('<div class="row"></div>');
          }
        });
      </script>
    </section>
    $GLOBAL_BFOOTER$
    
  </body>
  </html>
  