<html lang="hu">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>$SITE_NAME$ - $MODULE_NAME$</title>
  <link type="text/css" rel="stylesheet" href="/_st/my.css" />
</head>
<body>
  $ADMIN_BAR$
  $GLOBAL_AHEADER$
  <section class="first denied">
    <div class="overlay"></div>
    <div class="promo">
      <h2>Hozzáférés megtagadva</h2>
      <a href="/" class="goto">Vissza a főoldalra</a>
    </div>
  </section>
  $GLOBAL_BFOOTER$  
</body>
</html>
